:root {
	--bg-light: #f0f9ff;
	--bg-dark: #111827;
	--text-light: #1f2937;
	--text-dark: #f3f4f6;
}

html {
	background-color: #eff6ff;
	color: #1f2937;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

html.dark {
	background-color: #111827;
	color: #f3f4f6;
}

body {
	min-height: 100vh;
	line-height: 1.6;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: transparent;
}
